name: Publish to PyPI.org
on:
  release:
    types: [created]
jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Build package
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install --upgrade build
          python3 -m build
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          password: ${{ secrets.TWINE_PASSWORD }}
